/*  landing page styling */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  /* content landing page styling */
  .container {
    padding: 50px;
    width: 1024px;
    margin: 0 auto;
  }

#main_vis{
    padding: 10px;
    width: 250px;
    height: 250px ;
  } 

#summary-header{
    color: teal;
    font-weight: bolder;
  }

#main-summary {
    width: 70%;
  }
#vis-header{
    color: teal;
    font-weight: bold;
}
#thumbnail_title{
  color: teal;
  text-align: center;
}
#thumbnail{
  padding: 10px;
  width: 150px;
  height: 150px;
  
}


/* cloud html style */
#explanation{
    margin-top: 25px;
    width: 85%;
}
.container_comp{
  align-items: center;
  margin-left: 50px;
  padding: 50px;
}

.navbar-brand{
  font-size: xx-large;
  font-weight: bolder;
  color: teal ;
}

#navbarNavDropdown{
  font-size: x-large;
  font-weight: bold;
}
#png {
  padding: 10px;
 
}
h6{
  color: teal;
  text-align: center;  
}
.dropdown-item{
  color: teal;
  font-weight: bold;
  font-style: italic;
}

